body {
    color: blueviolet;
    width: 100%;
}


.header {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;

    // height: 10vh;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
}



.footer {
    display: flex;
    justify-content: space-around;
    // height: 12vh;
    background-color: lightsalmon;
}

.row {
   
}

.container3 {
    display: flex;
    justify-content: flex-start;
    
}

.container2 {
    display: flex;
    justify-content: flex-start;
    background-color: #d9d9d9;
}

