body {
    color: #d9d9d9;
    width: 100%;
}


.header {
    display: flex;
    justify-content: center;
    background-color: #d9d9d9;

    // height: 10vh;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
}



.footer {
    display: flex;
    justify-content: space-around;
    // height: 12vh;
    background-color: lightsalmon;
}

.row {
   
}



.container3 {
    display: flex;
    justify-content: flex-start;
    
}

.container2 {
    display: flex;
    justify-content: flex-start;
    background-color: #d9d9d9;
    background: url(../images/background.jpeg) center/cover fixed;
    height: 45vh;
}

.jumbotron {
    background: url(../images/background.jpeg) center/cover fixed;
}

.headerimage {
    background-color: #05393E;
    color: #f0f0f0;
}

.indexfooter {
    background: #04574F;
    height: 27vh;}

.h2 {
    font-size: 23px;
}

p {
    font-size: 19px;
    font-style: italic;
    color: black;
}

.contactformtext {
    color: black;
}

.container4{
    display: flex;
    justify-content: flex-start;
}