body {
  color: blueviolet;
  width: 100%; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #d9d9d9;
  font-size: 35px;
  font-family: 'Indie Flower', cursive; }

/*.middle {
    
    display: flex;
    justify-content: flex-start;
    // height: 65vh;
    // background-image: url(../images/20150409-thin-and-tender-flour-tortillas-joshua-bousel.jpg);
    font-size: 30px;

}
*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: lightsalmon; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.container2 {
  background-color: lightgrey; }
